<!-- <button (click) = 'change()'>click me</button><br>


<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src] = 'imgUrl' alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{head}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button disabled="{{dis}}">Not disabled</button>
                </div>
              </div>
        </div>

        <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src] = 'imgUrl' alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{head2}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button [disabled]="dis">Not disabled</button>
                </div>
              </div>
        </div>
    </div>
</div>
 

<br><hr><br>
<input type="text" [(ngModel)] = "uname"/>
<h2>Welcome {{uname}}</h2>   -->

<div class="container">
  <app-header></app-header>
  <h2> {{title}} </h2>
  <app-employee></app-employee>
  <app-footer></app-footer>
</div>